.sign-up-form {
  margin: 0 auto;
  padding-top: 50px;
  width: 75%;

  input, input {
    margin-bottom: 20px;
  }
  
  button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    padding: 12px;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    outline: none;
  }

  button, button {
    margin-top: 20px;
  }
}
