.item-block {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.text {
  flex: 1;
  font-size: 21px;
  color: #495057;
}

.text-done {
  color: #ced4da;
}

.remove-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dee2e6;
  font-size: 24px;
  cursor: pointer;
  &:hover {
    color: #ff6b6b;
  }
}

.check-circle {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ced4da;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  cursor: pointer;
}

.circle-done {
  border: 1px solid #38d9a9;
  color: #38d9a9;
}
